@model IEnumerable<Vol3.Models.KontaktTelefon>

@{
    ViewBag.Title = "KontaktTelefon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt Telefon</h2>
<p>
    @Html.ActionLink("Novi Kontakt", "Create", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemate Kontakta</p>
}
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>ID</th>
            <th>Broj</th>
            <th>Lokal</th>
            <th>Tip</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kontaktTelefon in Model)
        {
            <tr>
                <td>@kontaktTelefon.KontaktTelefonID</td>
                <td>@kontaktTelefon.Broj</td>
                <td>@kontaktTelefon.Lokal</td>
                <td>@Html.ActionLink(kontaktTelefon.TipKontakta.Opis, "Index", "TipKontaktTelefona", new { id = kontaktTelefon.TipKontakta.TipKontaktaID }, null)</td>
                @*@Html.ActionLink(opsina.Naziv, "Details", "Opstina", new { id = opstina.OpstinaID }, null)</td>*@
            </tr>
        }
    </tbody>
</table>
