@model Projekat.Models.Osoba
@{
    ViewBag.Title = Model.Ime;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Ime</h2>

<ul>
    <li>Prezime: @Model.Prezime</li>
    <li>Radno mesto: @Model.RadnoMesto</li>
    <li>Kontakt Telefon: @Model.KontaktTelefon.BrKontaktTelefona</li>
    <li>Mejl: @Model.MejlAdresa</li>
</ul>
