@model IEnumerable<Projekat.Models.Osoba>


@{
    ViewBag.Title = "Osoba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Osoba</h2>
<p>
    @Html.ActionLink("Nova osoba", "New", "Osoba", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Jos uvek nemate Osobe</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Osoba</th>
                <th>Tip Kontakt Telefona</th>
                <th>Broj Kontakt Telefona</th>
                <th>Lokal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Osoba in Model)
            {
                <tr>
                    <td>@Html.ActionLink(Osoba.Ime, "Details", "Osoba", new { id = Osoba.ID }, null)</td>
                    <td>@Osoba.KontaktTelefon.TipKontaktTelefona</td>
                    <td>@Osoba.KontaktTelefon.BrKontaktTelefona</td>
                    <td>@Osoba.KontaktTelefon.Lokal</td>
                </tr>
            }
        </tbody>
    </table>
}