@model Projekat.Models.Preduzece
@{
    ViewBag.Title = Model.ImePreduzeca;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ImePreduzeca</h2>

<ul>
    <li>Adresa preduzeca: @Model.AdresaPreduzeca</li>
    <li>Opstina preduzeca @Model.OpstinaPreduzeca</li>
    <li>Web adresa: @Model.WebStranicaPreduzeca</li>
    <li>Postanski broj: @Model.PostanskiBrPreduzeca</li>
    <li>Maticni broj: @Model.MaticniBrPreduzeca</li>
    <li>PIB: @Model.PIB</li>
    <li>Broj racuna: @Model.BrRacunaPreduzeca</li>

</ul>

